@font-face {
  font-family: 'Avenir';
  src: url('./AvenirLTStd-Light.otf') format('opentype');
  font-weight: 300;
}

@font-face {
  font-family: 'Avenir';
  src: url('./AvenirLTStd-Black.otf') format('opentype');
  font-weight: 900;
}

@font-face {
  font-family: 'Morrison';
  src: url('./Morrison-Bold.ttf');
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "SF PRO", Helvetica, Arial, sans-serif;
  background-color: #0098d8;
  min-height: -webkit-fill-available;
  max-height: 100vh;
  overflow: hidden;
}

.template {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  pointer-events: none;
  opacity: 0.5;
}

.back-header {
  display: flex;
  align-items: center;
  height: 46px;
  font-size: 17px;
  color: white;
  background-color: #0098d8;
}

.back-header svg {
  color: #ffffff;
  height: 30px;
}

.main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  background-color: #00254c;
  color: white;
  padding-right: 4px;
}

.logo {
  position: relative;
  height: 25px;
}

.analog-clock {
  position: relative;
  width: 36px;
  height: 36px;
  border: 3px solid white;
  border-radius: 50%;
}

.clock-hand {
  position: absolute;
  width: 3px;
  height: 18px;
  background-color: white;
  left: 50%;
  transform-origin: bottom;
}

.main {
  position: relative;
  background-color: white;
}

.background-watermark {
  width: 100%;
  overflow: hidden;
  position: relative;
}

.watermark-text-container {
  width: 120%;
  height: 100%;
  overflow: hidden;
  opacity: 0.3;
  font-size: 22px;
  color: #000000;
  line-height: 1.39;
  white-space: nowrap;
  transform: rotate(-5.9deg);
  margin-top: -34px;
  margin-left: -45px;
}

.watermark-text {
  position: relative;
  white-space: nowrap;
  font-size: 28px;
}

.watermark-text:nth-child(4n) {
  left: -0px;
}

.watermark-text:nth-child(4n + 1) {
  left: -200px;
}

.watermark-text:nth-child(4n + 2) {
  left: -400px;
}

.watermark-text:nth-child(4n + 3) {
  left: -600px;
}

.watermark-text:nth-child(4n + 4) {
  left: -800px;
}

.watermark-text:nth-child(4n + 5) {
  left: -1000px;
}

.watermark-text:nth-child(4n + 6) {
  left: -1200px;
}

.watermark-text:nth-child(4n + 7) {
  left: -1400px;
}

.wavy-line-container {
  position: absolute;
  top: 0;
  width: 465px;
  height: 100%;
}

.wavy-line-container svg {
  height: 100%;
  transform: scale(0.5, -1);
}

.card-swipe-container {
  width: 100%;
  position: absolute;
  top: 60px;
  display: flex;
  justify-content: center;
}

.card-swipe {
  min-width: 350px;
  max-width: 350px;
  min-height: 500px;
  max-height: 500px;
  display: flex;
  aspect-ratio: 350 / 500;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
}

.card-swipe::-webkit-scrollbar {
  display: none;
}

.card {
  min-width: 350px;
  max-width: 100%;
  aspect-ratio: 350 / 500;
  background-image: url('./card.png');
  background-size: contain;
  font-family: 'Avenir';
  font-weight: 900;
  padding: 17px 12px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  scroll-snap-align: center;
}

.title {
  font-size: 26px;
}

.reach {
  font-size: 21px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.info {
  margin-top: 10px;
}

.first-info {
  margin-top: 11px;
}

.info-title {
  font-weight: 300;
  text-transform: uppercase;
  font-size: 14px;
  margin-bottom: 5px;
  letter-spacing: -0.5px;
}

.info-value {
  font-size: 14px;
}

.content {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  margin-top: 57px;
}

.content img {
  height: 100px;
  margin-right: 14px;
}

.description {
  margin-bottom: 20px;
}

.disclaimer {
  font-size: 12px;
  margin-top: 25px;
  display: flex;
  flex-direction: column;
  gap: 3px;
}

.barcode-disclaimer {
  font-size: 11px;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 3px;
}

.barcode-section {
  background-color: white;
  padding: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.barcode {
  width: 220px;
  height: 220px;
}

.barcode-section .number {
  font-family: 'Morrison';
  color: #c5c5c5;
  font-size: 40px;
  margin-bottom: -20px;
}

.number span {
  color: #979797;
  font-size: 50px;
}

.mirror {
  transform: scale(1, -0.6);
  margin-top: -25px;
  opacity: 0.5;
}

.slider-container {
  position: absolute;
  bottom: 58px;
  width: 100%;
  display: flex;
  justify-content: center
}

.slider {
  width: 50px;
  height: 20px;
  border-radius: 12px;
  background-color: #f3f3f3;
  display: flex;
  align-items: center;
  padding: 2px;
  position: relative;
  justify-content: center;
  gap: 10px;
}

.circle {
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background-color: #dddddd;
  transition: background-color 0.3s;
}

.active {
  background-color: #086788;
}